body{
    margin: 0;
    padding: 0;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h3{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box h5{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
}
ul{
    text-align: left;
}
header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#logotype{
    border-radius: 13%;
    width: 100px;
    height: 100px;
    float:left;
}

header a.active {
    background-color: dodgerblue;
    color: white;

}
form
{
    float: right;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
clear:none
}
input {
    font-size: 18px;
}
footer
{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 30px 30px;
}